<div class="data-item-1" style="width:1140px;font-size: 50px;">
    <div class="data-item-1__left-side">
      <p style="font-size: 50px;">Founded in 2021 by Lama.:))</p>
 
    </div>
    <div class="data-item-1__right-side">
      <div class="data-item-1__countrers">
        <div class="counter">
          <h3 class="counter__header">25</h3>
          <span class="counter__data">Years in Business</span>
        </div>
        <div class="counter">
          <h3 class="counter__header">100</h3>
          <span class="counter__data">Vendors</span>
        </div>
        <div class="counter">
          <h3 class="counter__header">10000</h3>
          <span class="counter__data">Product</span>
        </div>
      </div>
    </div>
  </div>
